.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.loader {
    display: flex;
    justify-content: center;
}

.section {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    padding-bottom: 50px;
}

.section__btn--back {
margin-top: 20px;
}

.goBack {
    background-color: #c6473b;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.goBack:hover {
    color: #5CD3A8;
}

.addMore {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.addMoreBtn {
    display: block;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    width: 800px;
    background-color: #5CD3A8;
    color: #fff;
    transition: all 250ms;
}
.addMoreBtn:hover {
    background-image: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
    color: #c6473b;
}

.none {
    display: none;
}
.section__btn--back {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.filtr {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        background-color: #c6473b;
        padding: 5px;
        border-radius: 10px;
        color: #fff;
}